/********************** PALETA DE COLORES *****************/
/* background: #F3F5FC;         Light blue/light-blue-100 */
/* background: #E9ECF8;         Light blue/light-blue-300 */
/* background: #609ED4;         Dark blue/dark-blue-100 */
/* background: #356EA9;         Dark blue/dark-blue-200 */
/* background: #0A3871;         Dark blue/dark-blue-300 */
/* background: #072B61;         Dark blue/dark-blue-400 */
/* background: #052051;         Dark blue/dark-blue-500 */

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Indie Flower', cursive;
}

.bodyContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main{
    height: 95%;
    background: #E9ECF8;        /* Light blue/light-blue-100 */
}

.containerPrincipal{
    display: flex;
}
/********************************** LEFT SECTION ***********************************************/
.sectionLeft{
    width: 65%;
    display: flex;
    flex-direction: column;
}

/*************** ENCABEZADO ***************/
.encabezado{
    display: flex;
    height: 20%;
    align-items: center;
}
.logoAlura{
    width: 90px;
}
.tituloEncabezado{
    flex-grow: 3;
}
h1{
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 15px;  /*Determina el espaciado entre las líneas*/
    color: #0A3871;
}
.titulo1{
    font-weight: bold;
    font-size: 18px;
}
.titulo2{    
    font-family: 'Inter', sans-serif;
    color: rgb(235, 138, 52);
    margin-top: 2px;
}

/******* CUADRO INGRESAR TEXTO *********/
.containerIngresoTexto{
    flex-grow: 2;
    text-align: center;
    height: 62%;
}
.cuadroIngresarTexto{
    width: 65%;
    height: 90%;

    font-family: 'Inter', sans-serif;
    font-weight: 400;       /*Grosor*/
    font-size: 32px;
    line-height: 150%;      /* identical to box height, or 48px */
    text-align: left;
    color: #356EA9;       /* Dark blue/dark-blue-300 */

    border: none;
    border-radius: 10px;
    background: #E9ECF8;
    outline: none;          /*elimina el borde automatico que contiene la celda de cuando se ingresa la entrada*/
    transition: 0.2s;
    box-shadow: -10px -10px 20px -4px rgba(7, 43, 97, 0.23);
}
::placeholder{
    color: rgba(235, 138, 52,0.7);
}
.cuadroIngresarTexto:focus{
    border: 3px hidden;
    border-radius: 10px;
    background: #356EA9;
    color: #F3F5FC;
    opacity: 40%;
    box-shadow: 10px 14px 12px 5px rgba(7, 43, 97, 0.38);
}

/********** ACLARACION ************/
.aclaracion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 3%;
}
.imagenAclaracion{
    width: 16px;
    height: 16px;
    margin-left: 5%;
}
.textoAclaracion{
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;  /* identical to box height, or 18px */
    color: #495057;   /* Gray/gray-400 */
    opacity: 0.8;
}

/***************** BUTTONS ***************/
.botones_EncDesenc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 15%;
}

.botonEncriptar{
    padding: 2%;  
    width: 35%;
    background: #0A3871;    /* Dark blue/dark-blue-300 */
    border-radius: 24px;
    border: 1px solid #0A3871;
}
.botonEncriptar:hover{
    box-shadow: 1px 1px 2px 1px rgba(10, 56, 113, 0.74);
    background: #235796;    /* Dark blue/dark-blue-300 */
    border-radius: 24px;
    border: 1px solid #235796;
}
.textoBotonEncriptar{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF;
}

.botonDesencriptar{
    padding: 2%;
    width: 35%;
    background: #D8DFE8;        /* Light gray */
    border: 1px solid #0a387172;  /* Dark blue/dark-blue-300 */
    border-radius: 24px;
}
.botonDesencriptar:hover{
    box-shadow: 0px 0px 5px 1px rgba(134, 135, 136, 0.28);
    background: #92979c;    /* Dark blue/dark-blue-300 */
    border-radius: 24px;
    border: 1px solid #92979c;
}
.textoBotonDesencriptar{
    font-family: 'Inter';
    font-weight:600;
    font-size: 20px;
    line-height: 19px;
    color: #0A3871;         /* Dark blue/dark-blue-300 */
}

/************************************** RIGHT SECTION ***********************************************/
.sectionRight{
    width: 35%;
}

#cuadroResultado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 88%;
    text-align: center;
    margin: 5% auto;
    background: #FFFFFF;    /* White */
    box-shadow: 0px 20px 30px 5px rgba(7, 43, 97, 0.28);   /* shadow */  /*Dark blue/dark-blue-400 */
    border-radius: 32px;
    transition: 0.5s;
}

#cuadroResultado:hover{
    box-shadow: 0px 20px 32px 5px rgba(235, 138, 52, 0.68);   /* shadow */  /*Dark blue/dark-blue-400 */
} /*rgb(221, 72, 72)    /*red */ 

.resultadoItem{
    text-align: center;
    flex-grow: 3;
}
.textoResultado{
    width: 90%;
    height: 100%;
    background: rgb(255, 255, 255);
    margin-top: 10px;

    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;      /* identical to box height, or 48px */
    letter-spacing: 0em;
    text-align: center;
    color: rgba(10, 56, 113,0.75);         /* Dark blue/dark-blue-300 */

    border: none;
    border-radius: 10px;
    outline: none;                              /*elimina el borde automatico que contiene la celda de cuando se ingresa la entrada*/
}

#imagenYtextoNoEncontrado{
    text-align: center;
}
/*********** Muñeco ****************/
.imagenBusqueda{
    width: 80%;
    height: 60%;
}

#cuadroMensajeNoEncontrado{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
}
.texto1NoEncontrado{
    width: 90%;
    height: 30%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;  /* or 29px */
    text-align: center;
    color: #343A40; /* Gray/gray-500 */
}
.texto2NoEncontrado{
    width: 90%;
    height: 30%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;  /* or 24px */
    text-align: center;
    color: #495057;     /* Gray/gray-400 */
}

.botonCopiar{
    background: #356EA9;    /* Dark blue/dark-blue-300 */
    border-radius: 0 0 24px 24px;
    border: 1px solid #356EA9;

    width: 100%;
    height: 58px;
    display:none;
    
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
}
.botonCopiar:hover{
    background: #e9ba11;
    border: 1px solid #e9ba11;
    color: #0a387196;
    font-weight: 900;
}
.botonCopiar:active{
    box-shadow: 0px 0px 2px 1px rgba(235, 138, 52, 0.38);
}

footer{
    display: flex;
    height: 5%;
    gap: 5px;
    background: #072b61;    /*Dark blue/dark-blue-400 */

    justify-content: center;
    align-items: center;
}

footer:hover{
    box-shadow: 0px -2px 5px 1px rgba(7, 43, 97, 0.28);
}

a{
    text-align: center;
    padding: 2px 6px;
}

.textoAutor{
    flex-grow: 2;
    text-align: center;
    font-family: 'indie flower';
    font-size: 18px;
    font-weight: 550;
    padding:12px 6px;
    color: #c9cdcf;
}

.textoAutor:hover{
    color: #ffc800;
}

@media only screen and (max-width: 768px) {
    .bodyContainer{
        height: auto;
    }
    .containerPrincipal{
        flex-direction: column;
        align-items: center;
    }
    .sectionLeft{
        height: 700px;
        width: auto;
    }
    .encabezado{
        width: auto;
    }
    .cuadroIngresarTexto{
        font-size: 18px;
    }
    .aclaracion{
        justify-content: center;
    }
    .botones_EncDesenc{
        flex-direction: column;    
        gap: 15px;
    }
    .botonEncriptar{
        flex-grow: 1;
        width: 70%;
    }
    .botonDesencriptar{
        flex-grow: 1;
        width: 70%;
    }
    .sectionRight{
        height: auto;
        width: auto;
    }
    #cuadroResultado{
        height: 500px;
    }
    .resultadoItem{
        flex-grow: 2;        
    }
    .textoResultado{
        flex-grow: 2;
    }
    #imagenYtextoNoEncontrado{
        flex-grow: 1;
    }
    .imagenBusqueda{
        width: 150px;
        height: 150px;
    }
}